@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}
@font-face {
    font-family: "briston";
    src: url("./assets/fonts/ranille.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "quincy-regular";
    src: url("./assets/fonts/quincy-regular.ttf");
    font-weight: 100;
    font-style: normal;
}

@theme {
    --font-briston: "ranille", sans-serif;
    --font-quincy-italic: "quincy-italic", sans-serif;
    --font-quincy-regular: "quincy-regular", sans-serif
}